# log files
*.log

# export folders -- should be created throughs source app or data generator
export/
generated/

# vs code settings folder
.vscode/

# python cache folder
__pycache__/

# vim temp files
*.swp

# log files
*.log

# db files
*.db

# pyc files
*.pyc
